<!DOCTYPE html>
<html lang="en" style="height: 100%;">
  <head>
    <meta charset="UTF-8">
    <title>App Proyectos</title>
    <!-- NAVIGATION -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script  src="https://cdn.rawgit.com/clarketm/FileSaver.js/master/FileSaver.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.2/xlsx.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/TableExport/5.2.0/js/tableexport.min.js"></script>

    <script type="text/javascript">
    $(document).ready(function(){
        $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
            localStorage.setItem('activeTab', $(e.target).attr('href'));
        });
        var activeTab = localStorage.getItem('activeTab');
        if(activeTab){
            $('#myTab a[href="' + activeTab + '"]').tab('show');
        }
    });
    </script>
  </head>
  <body class="body-login" >
    <img src="images/taskrcrcl.png" class="class-taskrcrcl">
    <img src="images/login_triangulo.png" class="class-triangulo">
    <div class="loginContainer" style="margin-top: 60px;" >             
            <div class="row content-home" >
                <div class="col-md-5 content-home-left">
                  <div class="col-md-12">
                      <div class="form-group">
                        <img src="images/TaskrLogo.png" class="logo">
                      </div>
                  </div>
                  <div class="col-md-12">
                      <h3 style="margin-bottom: 8%;" class="title-home">Iniciar Sesión</h3>
                  </div>
                    <form method="POST" action="/login">
                      <% if ( errorMessage.length > 0 ) { console.log(errorMessage); %>
                        <div class="alert alert-warning">
                            <p> <%= errorMessage[0] %> </p>
                        </div>
                      <% } %>
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="username">Correo electrónico</label>
                            <input type="email" pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})" maxlength="90" name="username" class="form-control" placeholder="Ingrese el correo electrónico" required autofocus>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="password">Contraseña</label>
                            <input type="password"  name="password" class="form-control"  maxlength="50" placeholder="Ingrese la contraseña" required>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <a href="#" class="ForgetPwd">Olvidé mi contraseña</a>
                          </div>
                        </div>
                        <div class="row" style="margin-top: 8%;">
                          <div class="col-md-12">
                            <button class="btnAzul" type="submit"><span>Iniciar Sesión </span></button>
                          </div>
                        </div>
                        <div class="form-group" style="margin-top: 10%;  padding-left: 4%;">
                          <p><b>Si todavía no tiene una cuenta, puede <a href="/signup" style="color: #2B35EC">registrarse aquí</a> </b></p>
                            
                        </div>
                    </form>
                </div>
                <div class="col-md-5 content-home-right">
                </div>
            </div>
        </div>
</body>
</html>