<% include partials/_header %>
<div class="container">
  <div class="card-group">
                      <div class="card">
                          <h4 class="card-header">Vista general de proyectos</h4>
                          <div class="card-body">
                              <div class="row grid-divider">
                                  <div class="col-md-4">
                                    <div class="d-flex no-block align-items-center marginLeft">
                                        <div class="col-padding">
                                            <h2 class="counter text-primary"><a class="glyphicon glyphicon-inbox"></a> <%= proyectosAll.count %></h2>
                                        </div>
                                        <div>
                                              <h3><i class="icon-screen-desktop"></i></h3>
                                              <p class="text-muted">Proyectos en total</p>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="d-flex no-block align-items-center marginLeft">
                                        <div class="col-padding">
                                            <h2 class="counter text-primary"><a class="glyphicon glyphicon-eye-open"></a> <%= proyectosCountAct.count %></h2>
                                        </div>
                                        <div>
                                              <h3><i class="icon-screen-desktop"></i></h3>
                                              <p class="text-muted">Proyectos activos</p>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="d-flex no-block align-items-center marginLeft">
                                        <div class="col-padding" >
                                            <h2 class="counter text-primary"><a class="glyphicon glyphicon-eye-close"></a> <%= proyectosAll.count - proyectosCountAct.count %></h2>
                                        </div>
                                        <div>
                                              <h3><i class="icon-screen-desktop"></i></h3>
                                              <p class="text-muted">Proyectos inactivos</p>
                                        </div>
                                    </div>
                                  </div>
                              </div>
                          </div>
                      </div>
  </div>
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Proyectos</h1>
  </div>
<div class="tab" role="tabpanel">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li role="presentation" class="active"><a data-toggle="tab" href="#activos">Proyectos activos</a></li>
    <li role="presentation"><a data-toggle="tab" href="#inactivos">Proyectos inactivos</a></li>
  </ul>
</div>
  <div class="tab-content">
    <!--***************************************************************************************************************************************************************
                                                                  Sección de Proyectos Activos
    ****************************************************************************************************************************************************************-->
    <div id="activos" class="tab-pane fade in active">
        <% include tabs/tabProyectosActivos %>
    </div>
  <!--***************************************************************************************************************************************************************
                                                                Sección de Proyectos Inactivos
  ****************************************************************************************************************************************************************-->
    <div id="inactivos" class="tab-pane fade">
        <% include tabs/tabProyectosInactivos %>
    </div>
  </div>
</div>


<% include partials/_footer %>
