<% include partials/_header %>
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#proyectos">Proyectos</a></li>
  <li><a data-toggle="tab" href="#categorias">Categorías</a></li>
  <li><a data-toggle="tab" href="#recursos">Recursos</a></li>
  <li><a data-toggle="tab" href="#tareas">Tareas</a></li>
</ul>
<div class="tab-content">
<!--***************************************************************************************************************************************************************
                                                                      Sección de Proyectos
****************************************************************************************************************************************************************-->
  <div id="proyectos" class="tab-pane fade in active">
    <% include tabs/tabProyectos %>
  </div>
<!--***************************************************************************************************************************************************************
                                                                      Sección de Categorías
****************************************************************************************************************************************************************-->
  <div id="categorias" class="tab-pane fade">
      <% include tabs/tabCategorias %>
  </div>
<!--***************************************************************************************************************************************************************
                                                                      Sección de Recursos
****************************************************************************************************************************************************************-->
  <div id="recursos" class="tab-pane fade">
    <% include tabs/tabRecursos %>
  </div>
<!--***************************************************************************************************************************************************************
                                                                      Sección de Tareas
****************************************************************************************************************************************************************-->
  <div id="tareas" class="tab-pane fade">
    <% include tabs/tabTareas %>
  </div>
</div>
<% include partials/_footer %>
