<% include partials/_header %>
<div class="container mt-5">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <label class="lblTittle">Crear nuevo proyecto</label>
      </div>

      <form id="proyect" action="/insertP/" method="POST">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 input-icon" style="margin-top: 40px">
          <label for="projectName" class="lblForm">Nombre del proyecto</label>
          <input type="text" class="formulario" id="projectName" name="projectName">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 input-icon" style="margin-top: 20px">
            <label for="selectColab" class="lblForm">Colaboradores</label>
            <select class="chosen formulario" multiple="true" style="width: 100%" name="collaborator" id="collaborator">
                <% if (typeof(usersAll) !== "undefined") { %>
                  <% for(var j = 0; j < usersAll.length; j++) { %>
                      <option><%= usersAll[j].email %></option>
                    <% } %>
                <% } %>
              </select>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 25px; text-align: right;">
            <button class="btnCancel" type="button"  onclick="location.href = '/' " >Cancelar</button>
            <button class="btnNormal"  type="submit" >Crear proyecto</button>
        </div>

      </form>

    </div>
</div>

<script>
    $(function() {
      $(".chosen").chosen({
        display_disabled_options: true
      });
    });

    
    var handleValidation = function() {
      var message = "No puedes dejar este campo en blanco.";
      var message2 = "Debe seleccionar una opci&oacute;n.";
      $('#proyect').validate({
        errorElement: 'label', //default input error message container
        errorClass: 'help-inline', // default input error message class
        focusInvalid: false, // do not focus the last invalid input
        ignore: "",
        rules: {
          projectName: { required: true }, //hace al campo requerido
          collaborator: { required: true}
        },
        messages: { // en caso de error estos son los mensajes que se muestran
          projectName: { required: message }, 
          collaborator: { required: message2 }
        },
        highlight: function (element) { // hightlight error inputs
          $(element).closest('.control-group').addClass('error'); // set error class to the control group
        },
        success: function (label) {
          label.closest('.control-group').removeClass('error');
          label.remove();
        },
        errorPlacement: function (error, element) {
           error.addClass('help-small no-left-padding').insertAfter(element);          
        },
        submitHandler: function (form) {
          form.submit();
        }
      });
    };
    handleValidation();

    $("#collaborator").change(function(){
      $('#collaborator').valid();
    });

  </script>

<% include partials/_footer %>


