<% include partials/_header %>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 offset-md-3 card">
      <div class="card-body">
        <% if (typeof(data) !== 'undefined') { %>
          <form action="/updateR/<%= data[0].id_recursos %>" method="POST">
            <div class="form-group">
              <label for="txtNombre">Nombre de Colaborador</label>
              <input type="text" id="txtNombre" name="nombre" value="<%= data[0].nombre%>" placeholder="Nombre" class="form-control" autofocus required>
            </div>
            <div class="form-group">
              <label for="txtDepartamento">Departamento</label>
              <input type="text" id="txtDepartamento" name="txtDepartamento" value="<%= data[0].departamento%>" placeholder="Departamento" class="form-control" autofocus required>
            </div>
            <div class="form-group">
                <label for="txtCostoHoras">Costo por Hora</label>
              <input type="number" id="txtCostoHoras" name="horas" value="<%= data[0].porhora%>" placeholder="Costo" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-primary">
              Guardar Recurso
            </button>
          </form>
        <% } %>
      </div>
    </div>
  </div>
</div>

<% include partials/_footer %>
