@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v8/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --primaryColor: grey;
  --secundaryColor: teal;
  --letra: 'Poppins';
}

button {
  font-family: var(--letra) !important;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
.containerNotificacion{
  width: 300px;
  margin: 15px;
}
.marginLeft{
  margin-left: 10%;
}
.grid-divider {
       position: relative;
       padding: 0;
   }
   .grid-divider>[class*='col-'] {
       position: static;
   }
   .grid-divider>[class*='col-']:nth-child(n+2):before {
       content: "";
       border-left: 1px solid #DDD;
       position: absolute;
       top: 0;
       bottom: 0;
   }
   .col-padding {
       padding: 0 15px;
   }
}
.background{
  background: var(--primaryColor);
}
.loginContainer{
  margin-left: 3%;
  height: 100%;
  /*width: 100%;*/
  /*font-family: var(--letra);*/
}
.Container{
  margin-left: 3%;
  height: 100%;
  width: 100%;
  /*font-family: var(--letra);*/
}

input[type=text] {
  border: none;
}
input[type=password] {
  border: none;
  border-bottom: 2px solid var(--primaryColor);
}
input[type=email] {
  border: none;
  border-bottom: 2px solid var(--primaryColor);
}

input[type=text]:focus {
  border: none;
  border-bottom: 3px solid var(--secundaryColor);
}
input[type=email]:focus {
  border: none;
  border-bottom: 3px solid var(--secundaryColor);
}
input[type=password]:focus {
  border: none;
  border-bottom: 3px solid var(--secundaryColor);
}
label{
  color: var(--primaryColor);
}
h3{
  color: var(--primaryColor);
}
p{
  color: var(--primaryColor);
}
a{
  color: var(--secundaryColor);
}
.button {
  display: inline-block;
  border-radius: 8px;
  background-color: var(--primaryColor);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 15px;
  width: 250px;
  height: auto;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* The container */
.containerchk {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.containerchk input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.containerchk:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containerchk input:checked ~ .checkmark {
  background-color: var(--primaryColor);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.containerchk input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.containerchk .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cardstyle{
  /*color: #333333;*/
  font-family: var(--letra) !important;
  font-size:20px;
}

.card-header-proyect{
  height: 11px;
  background-color: #2B35EC;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  margin-top: -13px;
  width: 111.5%;
  margin-left: -12.3px;
}

.text-activo-card{
  font-family: var(--letra) !important;
  color: white;
  font-size: 9px;
  background-color: #2B35EC;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 60px;
  float: right;
  margin-top: -4px;
  text-align: center;
  height: 17px;
  padding-left: 8px;
  padding-top: 1px;
}
.card-title{
  margin-bottom: 0px;
}

.card-text{
  /*color: #333333;*/
  font-family: var(--letra) !important;
  font-weight: 500;
  font-size: 11px;  
}

.card-text-detail{
/*    color: #4F4F4F;*/
    font-family: var(--letra) !important;
    margin-bottom: 0;
    font-size:11px;

}

.redondeado{
  background: white;
  position: absolute;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  margin-top: 2px;
}


.row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.cardproyect-footer{
  padding: .75rem 1.25rem;
  /*background-color: #FAFAFA;*/
  padding-bottom: 17px;
}
.card {
  border: 0px;
  border-radius: 0.5rem;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card-header {
  &::before {
    content: '';
    position: absolute;
    right: 100%;
    border: 1rem solid transparent;
    border-right: 1.25rem solid #212121;
  }
}

/* On mouse-over, add a deeper shadow */
.card-proyect:hover {
  text-decoration: none !important;
  color: white !important;
  background-color: #2B35EC !important;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  cursor: pointer;
}

.container {
    margin-bottom: 3%;
}

.btnNormal{
  width: 204px;
  height: 50px;
  left: calc(50% - 224px/2 + 425px);
  top: 313px;
  background: #ED4A71;
/*  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);*/
  border: 0px;
  color: #FFFFFF;
  font-size: 16px;
  text-align: center;
}

.btnAzul{
  width: 100%;
  height: 50px;
  left: calc(50% - 224px/2 + 425px);
  top: 313px;
  background: #2B35EC;
/*  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);*/
  border: 0px;
  color: #FFFFFF;
  font-size: 16px;
  text-align: center;
  border-radius: 10px;
}

.btnCancel{
  width: 204px;
  height: 50px;
  left: calc(50% - 224px/2 + 425px);
  top: 313px;
  background: #ffffff;
/*  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);*/
  border: 0px;
  color: #595959;
  font-size: 16px;
  text-align: center;
}

label.lblTittle{
  font-family: var(--letra);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #4F4F4F;
}

label.lblForm{
  font-family: var(--letra);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: #595959;
}

input.formulario{
  width: 100%;
  height: 50px;
  left: calc(50% - 368px/2 - 215.5px);
  top: 128px;
  background: rgb(43,53,236, 0.05);
  border-radius: 3px;
  padding: 10px;
  font-family: var(--letra);
}

select.formulario{
  left: calc(50% - 790px/2 - 4.5px);
  top: 223px;
  background: rgb(43,53,236, 0.05);
  border-radius: 3px;
}

ul.chosen-choices{
  background-image: none !important;
  background: rgb(43,53,236, 0.05) !important;
  border: none !important;
  min-height: 50px !important;
}

button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
}

.help-inline{
  color: rgb(185, 74, 72);
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

.paddingTop{
  padding-top: 30px;
}

.modal-header {
  border-bottom: 0px !important;
}

.modal-footer{
  border-top: 0px !important;
}

.isloading-wrapper {
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    height: 100%;
    margin-top: -50px;
    z-index: 10000;
}

.ui-dialog {
    z-index: 15011 !important;
    background: none !important;
    background-color: rgba(0, 0, 0, 0);
    background-color: #eee !important;
}

.ui-dialog.ui-dialog-green .ui-dialog-titlebar {
    color: #fff !important;
    background-color: #35aa47 !important;
    border:0px;
}

.ui-dialog.ui-dialog-red .ui-dialog-titlebar {
    color: #fff !important;
    background-color: #e02222 !important;
    border:0px;
}

.content-home{
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin-top: 2%;
  margin-left: 11% !important;
}

.content-home-left{
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.content-home-right{
  background-color: white;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  border-top-right-radius: 0px;
  background-image: url('/images/card_background.png');
  background-repeat: no-repeat;
  background-size: 122%;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);

}

.navbar {
  border-radius: 0px !important;
}

.text-box-home{
  color: black;
  font-size: 40px;
  font-weight: 1000;
}

body{
  background-color: #FBFBFB !important;
  font-family: var(--letra) !important;
}

.text-color{
  color:#4F4F4F !important;
}

.body-login{
  background-color: #FFFFFF !important;
  background-image: url('/images/login_background.png');
  background-size: 1063px;
  background-repeat: no-repeat;
  background-position-x: 194px;
  background-position-y: 4px;
  width: 1280px;
}

.class-taskrcrcl{
  z-index: 100;
  position: fixed;
  margin-left: 1008px;
  transform: rotate(-133deg);
}
.class-taskrcrcl-index{
  z-index: 100;
  position: absolute;
  margin-left: 25.8%;
  width: 90px;
  top: -94px;
}

.class-triangulo{
  z-index: 100;position: fixed;margin-left: 968px;margin-top: 434px;width: 170px;
}

.logo{
  margin-bottom: 5%; 
  margin-top: 3%; 
  width: 145px; 
  height: 32px;
}

.relog{
   background-image: url('/images/relog.png');
}

.div-footer{
  border-top: 1px solid;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  width: 95%;
  position: relative;
  margin-left: 2.5%;
  color: #828282;
  margin-top: 40px;
}

.modal-content{
  padding: 20px
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ads0is');
  src:  url('fonts/icomoon.eot?ads0is#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ads0is') format('truetype'),
    url('fonts/icomoon.woff?ads0is') format('woff'),
    url('fonts/icomoon.svg?ads0is#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
  content: "\e94e";
}
.icon-search:before {
  content: "\e986";
}
.icon-zoom-in:before {
  content: "\e987";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}

.search-choice a{
  padding-left: 10px;
}