<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>App Proyectos</title>
    <!-- NAVIGATION -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap4.3.1.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script  src="https://cdn.rawgit.com/clarketm/FileSaver.js/master/FileSaver.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.2/xlsx.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/TableExport/5.2.0/js/tableexport.min.js"></script>

    <script src="/js/chosen.jquery.min.js"></script>    
    <link rel="stylesheet" type="text/css" href="/css/chosen.min.css">
    <link rel="stylesheet" href="/css/jquery-ui-1.10.1.custom.min.css">
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/jquery.isloading.js"></script>
    <script src="/js/xlsx.js" type="text/javascript"></script> 
    
    <script type="text/javascript">
    $(document).ready(function(){
        $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
            localStorage.setItem('activeTab', $(e.target).attr('href'));
        });
        var activeTab = localStorage.getItem('activeTab');
        if(activeTab){
            $('#myTab a[href="' + activeTab + '"]').tab('show');
        }
    });
    </script>
  </head>
  <body>

    <!-- navigation -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #2B35EC; max-height: 53px;">
      <a class="navbar-brand" href="/"><img src="/images/TaskrLogo2.png" style="height:20px;"></a>
      <div class="" style="text-align: right; width:100%; height:100%;">
        <div class="nav navbar-nav navbar-right">
          
            <a style="font-size: 12px; color:white; font-family: var(--letra); margin-right: 30px;" title='Salir'  href="/logout">
              <img  src="/images/Salir.png" width="25px;">
            Salir
          </a>
            
        </div>
        <!-- <ul class="nav navbar-nav navbar-right">
         <li class="dropdown">
           <a href="#" class="glyphicon glyphicon-bell" style="font-size: 25px; color:white;" title='Notificaciones' data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
           <ul class="dropdown-menu">
             <div class="containerNotificacion mt-3 mb-3">
              <div class="row">
                <div class="col-md-12">
                  <h4>Actividad reciente</h4>
                  <ul class="timeline">
                    <li>
                      <a target="_blank" href="https://www.totoprayogo.com/#">New Web Design</a>
                      <a href="#" class="float-right">21 March, 2014</a>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare. Maecenas placerat facilisis mollis. Duis sagittis ligula in sodales vehicula....</p>
                    </li>
                    <li>
                      <a href="#">21 000 Job Seekers</a>
                      <a href="#" class="float-right">4 March, 2014</a>
                      <p>Curabitur purus sem, malesuada eu luctus eget, suscipit sed turpis. Nam pellentesque felis vitae justo accumsan, sed semper nisi sollicitudin...</p>
                    </li>
                    <li>
                      <a href="#">Awesome Employers</a>
                      <a href="#" class="float-right">1 April, 2014</a>
                      <p>Fusce ullamcorper ligula sit amet quam accumsan aliquet. Sed nulla odio, tincidunt vitae nunc vitae, mollis pharetra velit. Sed nec tempor nibh...</p>
                    </li>
                  </ul>
                </div>
              </div>
             </div>
           </ul> -->
         </li>
       </ul>
      </div>
    </nav>
